# Back-End
Back-End/node_modules
Back-End/.env
Back-End/database.sqlite

# Front-End
Front-End/node_modules
Front-End/dist
Front-End/.vscode/

# Dokumentace
docs/.vitepress/dist
docs/.vitepress/cache

# Obecné
node_modules
dist
.DS_Store
.idea
*.log
**/package-lock.json
.vscode/**
