<div class="container mt-4">
  <h2>Nová rezervace</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <label>Jméno</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="reservation.firstname"
          name="firstname"
          required
        />
      </div>

      <div class="col-md-6">
        <label>Příjmení</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="reservation.lastname"
          name="lastname"
          required
        />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label>Datum</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="reservation.date"
          name="date"
          required
        />
      </div>

      <div class="col-md-6">
        <label>Časový úsek</label>
        <select
          class="form-select"
          [(ngModel)]="reservation.time_slot"
          name="time_slot"
        >
          <option value="8:00-10:00">8:00-10:00</option>
          <option value="10:00-12:00">10:00-12:00</option>
          <option value="13:00-15:00">13:00-15:00</option>
          <option value="15:00-17:00">15:00-17:00</option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label>Sport</label>
        <select
          class="form-select"
          [(ngModel)]="reservation.sportId"
          name="sportId"
        >
          <option *ngFor="let sport of sports" [value]="sport.id">
            {{ sport.name }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label>Sportoviště</label>
        <select
          class="form-select"
          [(ngModel)]="reservation.sportLocationId"
          name="sportLocationId"
        >
          <option *ngFor="let location of locations" [value]="location.id">
            {{ location.name }} ({{ location.location }})
          </option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">
      Vytvořit rezervaci
    </button>
  </form>
</div>
